<!--
  Generated template for the MaBellePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produits</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div *ngIf="firstname; else withoutPipe">
    Bonjour {{ firstname | firstLetterUp }}
  </div>
  <ng-template #withoutPipe>
    Nos pizzas:
    <ion-list>
      <ion-item lass="products" *ngFor="let p of products">
        {{ p.name }}
      </ion-item>
    </ion-list>
  </ng-template>



  <!-- <div *ngSwitch="firstname">
  <h4 *ngSwitchCase="true">Bonjour {{ firstname | firstLetterUp }}</h4>
  <h4 *ngSwitchCase="false" >Bonjour {{ firstname | firstLetterUp }}</h4>
</div> -->
</ion-content>
