<!--
  Generated template for the MaBellePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produits</ion-title>
      <ion-buttons end>
        <button (click) = "goToBasketPage()">
        <ion-icon name="basket" item-start end ></ion-icon>
        <ion-badge item-end></ion-badge>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="product">
      <ion-segment-button *ngFor="let c of categories" value="{{c.id}}" (ionSelect)="onChange($event)">
        {{c.name}}
        <br>
        <!-- products.name -->
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-content>
    <div *ngFor="let p of products">
      <ion-card>
        <img src="{{p.image}}" alt="">
        <ion-card-content>
          <ion-card-title>
            {{p.name}}
          </ion-card-title>
          <p class="price">{{p.price | currency:'EUR':true:'1.2-2':'fr'}}</p>
        </ion-card-content>
        <div text-center>
          <button ion-button icon-only text-left>
            <ion-icon name="eye"></ion-icon>
          </button>
          <button ion-button icon-only (click)="presentProfileModal(p)">
            <ion-icon name="basket"></ion-icon>
          </button>
        </div>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
